:root {
  --color-brown: #5c4d49;
  --color-white: #d1c5b7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font-family: "Open Sans", system-ui; */
body {
  font-family: "Open Sans", system-ui;
  font-size: 16px;
  background: var(--color-brown);
}
button {
  border: none;
  font: inherit;
  cursor: pointer;
  text-align: center;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  width: 100%;
  margin-bottom: 15px;
}
input {
  font: inherit;
  font-size: 27px;
  width: 215px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  border: 3px, solid, var(--color-white);
}
.number input {
  width: 244px;
  border-color: var(--color-brown);
  background-color: var(--color-white);
}
.number button {
  background-color: var(--color-brown);
  color: var(--color-white);
}
.date input {
  width: 117px;
  background: var(--color-brown);
}
.date button {
  background-color: var(--color-white);
  color: var(--color-brown);
}
.container {
  width: 620px;
  padding: 50px 45px;
  margin: 77px auto 0 auto;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px 10px rgba(58, 50, 50, 0.3);
}
.search {
  display: flex;
  justify-content: space-between;
}
.fact {
  display: none;
  border-radius: 10px;
  border: 3px, solid, var(--color-brown);
  background-color: var(--color-white);
  width: 100%;
  padding: 15px;
}
.fact h2 {
  font-size: 40px;
}
.fact p {
  color: var(--color-brown);
  font-size: 20px;
}
.date {
  display: none;
}
.input_flex {
  display: flex;
}

@media screen and (max-width: 700px) {
  .container {
    width: 500px;
    margin: 60px auto 0 auto;
    padding: 40px 30px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    width: 400px;
    padding: 30px 20px;
  }
  .date input {
    width: 100%;
  }
  .date input:last-child {
    margin: 0;
  }
  .search {
    flex-direction: column;
  }
  .number input {
    width: 100%;
    margin-bottom: 15px;
  }
  .input_flex {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    width: 343px;
    padding: 20px 15px;
  }
  button {
    margin-bottom: 10px;
  }
  .input_flex {
    margin-bottom: 10px;
  }
}
